<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtilleryStrike.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ArtilleryStrike.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArtilleryStrike.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ArtilleryStrike.Properties.Settings>
            <setting name="OptionTeam" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="OptionFocusOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OptionLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OptionTopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptionUnfocusOpacity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="OptionSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ArtilleryStrike.Properties.Settings>
        <ArtilleryStrike.Config>
            <setting name="OptionTeam" serializeAs="String">
                <value>N</value>
            </setting>
        </ArtilleryStrike.Config>
    </userSettings>
    <applicationSettings>
        <ArtilleryStrike.Properties.Settings>
            <setting name="DefaultSize" serializeAs="String">
                <value>535, 443</value>
            </setting>
        </ArtilleryStrike.Properties.Settings>
    </applicationSettings>
</configuration>